@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>@ViewBag.Message</h3>


<p>The Project is developed by Jamie (jamagee), Jeroen (jerietve), Sam (savanl), Vaidas (vakarosa), Michal Sroka, Martin (mafaarto) and Anders (andersg) as part of the MDCC Hackathon.</p>