@{
    ViewBag.Title = "Home Page";
}


<div class="startMenu">

    @Html.ActionLink("Start a Game / View Current Games", "Index", "Tables")
    @Html.ActionLink("Team Rankings", "Teams", "Ranking")
    @Html.ActionLink("Player Rankings", "Players", "Ranking")
</div>